<ion-header>
  <ion-navbar>
    <ion-title>{{ name }}</ion-title>
    <ion-buttons end>
     <button ion-button (click)="pop($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-list *ngFor="let c of chats | async" no-border margin no-lines>
  <p *ngIf="c.user != name" class="left">
    {{c.message}} <span class="leftTime"> {{c.time}} </span>
  </p>
  <p *ngIf="c.user == name" class="right">
    {{c.message}} <span class="rightTime"> {{c.time}} </span>
  </p>
</ion-list> 

</ion-content>
<ion-footer no-padding no-margin no-border>
  <ion-toolbar no-padding no-margin no-border>
    <ion-row no-padding no-margin no-border> 
      <ion-col width-90 left>
          <ion-input 
              full
              class="text"
              type="text" 
              placeholder="Type your message here..."
              [(ngModel)]="message">
          </ion-input>
      </ion-col>
      <ion-buttons end>
         <button ion-button round (click)="send(message)"><ion-icon class="icon" color="primary" name="send"></ion-icon> </button>
      </ion-buttons>
    </ion-row>  

  </ion-toolbar>
</ion-footer>
